@{
	ViewData["Title"] = "Authenticate";
}

<h1>Login</h1>

<form action="/Home/Register" method="post">

	<input type="text" value="" name="username" />
	<input type="text" value="" name="password" />
	<button type="submit">Login</button>
</form>