@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model PermissionModel

@{
	ViewData["Title"] = "permission";
}

<h1>permissions</h1>
<div class="text-danger" asp-validation-summary="All"></div>
<form method="post" asp-action="getAllRoles">
	<button type="submit" OnClientClick="return false;">
		Get All Roles
	</button>
</form>
<form method="post" asp-action="getUserRoles">
	<button type="submit" OnClientClick="return false;">
		Get User Roles
	</button>
</form>
<form method="post" asp-action="getClaims">
	<button type="submit" OnClientClick="return false;">
		Get User Claims
	</button>
</form>

<form method="post" asp-action="CreateRoles">
	<input type="text" value="" asp-for="role" />
	<button type="submit" OnClientClick="return false;">
		Create Role
	</button>
</form>
<form method="post" asp-action="AddUserToRole">
	<div class="form-row">
		<label>user</label>
		<input type="text" value="" asp-for="user" />
	</div>
	<div class="form-row">
		<label>role</label>
		<input type="text" value="" asp-for="role" />
	</div>
	<button type="submit" OnClientClick="return false;">
		Add to role
	</button>
</form>

<table>
	@{Model.counter = 0;}
	@foreach (var u in Model.userList) {

		<tr>
			<td>@u.UserName</td>
			@foreach (var r in Model.rolesList.ToList()[Model.counter]) {
				<td>@r</td>
			}
			@{Model.counter++; }
		</tr>

	}
</table>