@{
	ViewData["Title"] = "GenderRequired";
}
<style>
	body {
		background: url("https://media1.tenor.com/images/b478f570c2a4775f5ba403db814fb06e/tenor.gif?itemid=13094633");
		background-size: cover;
	}

	h1 {
		font-size: 3rem;
		color: white;
	}
</style>

<h1>Welcome boys</h1>