@{
	ViewData["Title"] = "TwentyOne";
}

<style>
	body {
		background: url("https://media.giphy.com/media/3o7TKtP0Lb8K9XoPwA/200.gif");
		background-size: cover;
	}

	h1 {
		font-size: 3rem;
		color: white;
	}
</style>

<h1>Welcome boomers</h1>