@{
	ViewData["Title"] = "Home Page";
}
@model ContainerModel
<link href="~/css/home.css" rel="stylesheet" />
<div class="header">
	<h1>Welcome</h1>
	<h2>@Model.user.UserName</h2>
	@if (TempData["Message"] != null) {
		<h5>@TempData["Message"]</h5>
	}
</div>
<hr />

<div class="log-reg">

	<form asp-controller="login" asp-action="index" method="post">
		<h4>login</h4>

		<div class="label-input">
			<label>name</label>
			<input asp-for="Lrm.username" type="text" value="" />
		</div>
		<div class="label-input">
			<label>password</label>
			<input asp-for="Lrm.password" type="text" value="" />
		</div>
		<button OnClientClick="return false;">Login</button>
	</form>
	<form asp-controller="register" asp-action="index" method="post">
		<h4>register</h4>
		<div class="label-input">
			<label>name</label>
			<input asp-for="Lrm.username" type="text" value="" />
		</div>
		<div class="label-input">
			<label>password</label>
			<input asp-for="Lrm.password" type="text" value="" />
		</div>
		<button OnClientClick="return false;">Register</button>
	</form>
</div>

<div class="add-claims">
	<h4>add claims</h4>
	<form asp-action="" method="post">
		<div class="label-input">
			<label>Username</label>
			<input type="text" value="" />
		</div>
		<div class="label-input">
			<label>Claim-name/type</label>
			<input type="text" value="" />
		</div>
		<button>add claims</button>
	</form>
</div>

<div class="remove-claims">
	<h4>remove claims</h4>
	<form asp-action="" method="post">
		<div class="label-input">
			<label>Username</label>
			<input type="text" value="" />
		</div>
		<div class="label-input">
			<label>Claim-name/type</label>
			<input type="text" value="" />
		</div>
		<button>remove claims</button>
	</form>
</div>

<div class="users-claims">
	<table>
		<tr>
			<td class="username">username</td>
			<td>foreach claims</td>
		</tr>
	</table>
</div>