@{
	ViewData["Title"] = "Authenticate";
}

<h1>Register</h1>

<form action="/home/Login" method="post">

	<input type="text" value="" name="username" />
	<input type="text" value="" name="password" />
	<button type="submit">Register</button>
</form>